<hr>
<h3>viewer</h3>
<div class="grid grid-pad">
  <a *ngFor="let p of ['page1', 'page2', 'page3', 'page4']" (click)="onClick(p)" class="col-1-4">
    <div class="module">
      <h4>show {{p}}</h4>
    </div>
  </a>
</div>
<hr>
<h3>light</h3>
<div class="grid grid-pad">
  <a *ngFor="let c of ['on', 'off']" (click)="ctrlLight(c)" class="col-1-4">
    <div class="module">
      <h4>{{c}}</h4>
    </div>
  </a>
</div>
<hr>
<h3>line push (GUI先行デモgroupに通知)</h3>
<div class="grid grid-pad">
  <a *ngFor="let m of ['豚買ってきて', 'hoge']" (click)="sendToLine(m)" class="col-1-4">
    <div class="module">
      <h4>{{m}}</h4>
    </div>
  </a>
</div>
