div.page {
	width: 1600px;
	height: 2400px;
	background-color: #000;
	position: relative;
}

.video {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 1px solid #a22;
	width: 1200px;
	height: 1440px;
}
