<hr>
<h3>viewer</h3>
<div class="grid grid-pad">
  <a *ngFor="let p of ['1', '2', '3', '4']" (click)="movieCtrl(p)" class="col-1-4">
    <div class="module">
      <h4>movie {{p}}</h4>
    </div>
  </a>
</div>
<hr>
<h3>light</h3>
<div class="grid grid-pad">
  <a *ngFor="let c of ['on', 'off']" (click)="ctrlLight(c)" class="col-1-4">
    <div class="module">
      <h4>{{c}}</h4>
    </div>
  </a>
</div>
<hr>
<h3>line push (GUI蜈郁｡後ョ繝｢group縺ｫ騾夂衍)</h3>
<div class="grid grid-pad">
  <a *ngFor="let m of ['としさんがあと30分で帰ります']" (click)="sendToLine(m)" class="col-1-4">
    <div class="module">
      <h4>{{m}}</h4>
    </div>
  </a>
</div>
