<div id="content">
  <div class="view">
    <div class="tv">
      <div *ngIf="tv.power == 'on'" class="display">
        <div *ngIf="tv.input != 'rec'" class="ch">
          {{tv.input}}
        </div>
        <div *ngIf="tv.input == 'rec' && recorder.power == 'on'" class="rec">
          <div *ngIf="recorder.mode == 'list'" class="list">
            <div class="title">saved titles</div>
            <ul class="list-group">
              <li class="list-group-item">ドラマ1</li>
              <li class="list-group-item">ドラマ2</li>
              <li class="list-group-item">ドラマ3</li>
              <li class="list-group-item">ドラマ4</li>
              <li class="list-group-item">映画</li>
            </ul>
          </div>
          <div *ngIf="recorder.mode == 'play'" class="ch">
            MOVIE
          </div>
        </div>
      </div>
    </div>
    <div class="recorder">
    </div>
  </div>
  <nav class="info">
    <div class="device">
      <div class="title">tv</div>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th scope="row">power</th>
            <td id="tv-power">{{tv.power}}</td>
          </tr>
          <tr>
            <th scope="row">ch</th>
            <td id="tv-input">{{tv.input}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="device">
      <div class="title">recorder</div>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th scope="row">power</th>
            <td id="recorder-power">{{recorder.power}}</td>
          </tr>
          <tr>
            <th scope="row">mode</th>
            <td id="recorder-mode">{{recorder.mode}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="device">
      <div class="title">air conditioner</div>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th scope="row">power</th>
            <td id="ac-power">{{ac.power}}</td>
          </tr>
          <tr>
            <th scope="row">temp</th>
            <td id="ac-temp">{{ac.temp}}&#x2103;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="device">
      <div class="title">light</div>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th scope="row">scene</th>
            <td id="light-scene">{{light.scene}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="device">
      <div class="title">shutter</div>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th scope="row">status</th>
            <td id="shutter-status">{{shutter.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </nav>
</div>
