<div id="content">
  <nav class="view">
    <div class="tv">
      <div class="img">
        <div *ngIf="tv.power == 'on'" class="display">
          <div *ngIf="tv.input != 'rec'" class="ch">
            {{tv.input}}
          </div>
          <div *ngIf="tv.input == 'rec' && recorder.power == 'on'" class="rec">
            <div *ngIf="recorder.mode == 'list'" class="list">
              <div class="title">saved titles</div>
              <ul class="list-group">
                <li class="list-group-item disabled">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
            <div *ngIf="recorder.mode == 'play'" class="ch">
              MOVIE
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recorder">
      <div class="img"></div>
    </div>
  </nav>
  <div class="info">

    <div class="device">
      <div class="title">tv</div>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">power</th>
            <td>{{tv.power}}</td>
          </tr>
          <tr>
            <th scope="row">ch</th>
            <td>{{tv.input}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="device">
      <div class="title">recorder</div>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">power</th>
            <td>{{recorder.power}}</td>
          </tr>
          <tr>
            <th scope="row">mode</th>
            <td>{{recorder.mode}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="device">
      <div class="title">air conditioner</div>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">power</th>
            <td>{{ac.power}}</td>
          </tr>
          <tr>
            <th scope="row">temp</th>
            <td>{{ac.temp}}&#x2103;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="device">
      <div class="title">light</div>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">scene</th>
            <td>{{light.scene}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="device">
      <div class="title">shutter</div>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">status</th>
            <td>{{shutter.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h3>device view</h3>
<ul>
  <li>tv
    <ul>
      <li>power: {{tv.power}}</li>
      <li>input: {{tv.input}}</li>
    </ul>
  </li>
  <li>recorder
    <ul>
      <li>power: {{recorder.power}}</li>
      <li>mode: {{recorder.mode}}</li>
    </ul>
  </li>
</ul>
<hr>
<h3>controller</h3>
<h4>tv</h4>
<div class="grid">
  <a *ngFor="let c of ['on', 'off']" (click)="devctrl({tv: {power: c}})" class="button">
    {{c}}
  </a>
</div>
<div class="grid">
  <a *ngFor="let c of tvChannels" (click)="devctrl({tv: {input: c}})" class="button">
    {{c}}
  </a>
</div>
<h4>recorder</h4>
<div class="grid">
  <a *ngFor="let c of ['on', 'off']" (click)="devctrl({recorder: {power: c}})" class="button">
    {{c}}
  </a>
</div>
<div class="grid">
  <a *ngFor="let c of ['list', 'play']" (click)="devctrl({recorder: {mode: c}})" class="button">
    {{c}}
  </a>
</div>
