@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,500,700');

#content {
	width: 100vw;
	height: 100vh;
	color: #868686;
	font-size: 28px;
	font-family: 'Yantramanav', sans-serif;
}

#content .view {
	position: relative;
	height: 100%;
	width: 100%;
}

#content .info {
	position: fixed;
	right: 180px;
	top: 80px;
	height: 100%;
	width: 240px;
	zIndex: 1;
}

.view .tv {
	position: absolute;
	top: 40px;
	left: 240px;
	width: 880px;
	height: 660px;
	background-image: url(/assets/img/tv.jpg);
	background-size: contain;
    background-repeat: no-repeat;
}

.view .recorder {
	position: absolute;
	top: 680px;
	left: 420px;
	width: 640px;
	height: 208px;
	background-image: url(/assets/img/recorder.jpg);
	background-size: contain;
    background-repeat: no-repeat;
}

.view .tv .display {
	position: absolute;
	top: 80px;
	left: 16px;
	width: 848px;
	height: 480px;
	background-color: #3F51B5;
}

.view .tv .ch {
	display: absolute;
	font-size: 80px;
	line-height: 480px;
	color: #fff;
	margin: auto;
	text-align: center;
}

.view .tv .rec .list {
	padding: 50px 60px;
}

.view .tv .rec .title {
	font-size: 30px;
	color: #fff;
	margin: 8px 0px;
}

.info .device {
	margin-bottom: 36px;
}

.info .device .title {
	margin: 10px 0px;
	font-weight: 700;
	font-size: 30px;
}

.info .device td {
	text-align: right;
	font-weight: 500;
}

.info .device th {
	font-weight: 500;
	color: #aaa;
}

.change-animation {
	animation: change-animation 1s linear 0s 1;
}

@keyframes change-animation {
    0% {
		background-color: rgba(192,0,168,.5);
		color: #fff;
	}
    70% {
		background-color: rgba(192,0,168,.1);
		color: #fff;
	}
    100% {
		background-color: rgba(192,0,168,.1);
	}
}

