.button {
	display: inline-block;
	line-height: 28px;
	height: 28px;
	width: 32px;
	background-color: #607D8B;
	color: #eee;
	border-radius: 2px;
	text-align: center;
	margin: 4px 2px;
}

.grid {
	margin: 8px 4px;
}

#content {
	width: 100vw;
	height: 100vh;
	padding: 0px;
	color: #626262;
	font-size: 40px;
}

#content .view {
	position: relative;
	height: 100%;
	width: 100%;
}

#content .info {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 300px;
	zIndex: 1;
	margin: 40px 48px;
}

.view .tv {
	position: absolute;
	top: 40px;
	left: 100px;
}

.view .recorder {
	position: absolute;
	top: 1000px;
	left: 280px;
}

.view .tv .img {
	width: 1280px;
	height: 960px;
	background-image: url(/assets/img/tv.jpg);
	background-size: contain;
    background-repeat: no-repeat;
}

.view .recorder .img {
	width: 900px;
	height: 360px;
	background-image: url(/assets/img/recorder.jpg);
	background-size: contain;
    background-repeat: no-repeat;
}

.info .device {
	margin-bottom: 64px;
}

.info .device .title {
	margin: 20px 0px;
}

td {
	text-align: right;
}
