<h3>controller</h3>
<div>
  <h4>air conditioner</h4>
  <div class="grid">
    <a *ngFor="let c of ['on', 'off']" (click)="devctrl({ac: {power: c}})" class="button">
      {{c}}
    </a>
  </div>
  <div class="grid">
    <a *ngFor="let c of ['22','23','24','24','25','26','27','28']"
       (click)="devctrl({ac: {temp: c}})" class="button">
      {{c}}
    </a>
  </div>
</div>
<div>
  <h4>light</h4>
  <div class="grid">
    <a *ngFor="let c of ['on', 'off']" (click)="devctrl({light2: {power: c}})" class="button">
      {{c}}
    </a>
  </div>
</div>
<div>
  <h4>shutter</h4>
  <div class="grid">
    <a *ngFor="let c of ['open', 'close']" (click)="devctrl({shutter: {status: c}})" class="button">
      {{c}}
    </a>
  </div>
</div>
<div>
  <h4>door open</h4>
  <div class="grid">
    <a (click)="doorOpenTest()" class="button">test</a>
  </div>
</div>
<div>
  <h4>leaving home</h4>
  <div class="grid">
    <a (click)="leavingHomeTest()" class="button">test</a>
  </div>
</div>
<div>
  <h4>window notify</h4>
  <div class="grid">
    <a (click)="windowNotify()" class="button">test</a>
  </div>
</div>
<div>
  <h4>air conditioner notify</h4>
  <div class="grid">
    <a (click)="airconOffNotify()" class="button">test</a>
  </div>
</div>
<div>
  <h4>pollen notify</h4>
  <div class="grid">
    <a (click)="pollenNotify()" class="button">test</a>
  </div>
</div>
