<div class="page flip180">
  <button (click)="adjustPosition()" class="button">scroll</button>
  <button (click)="toggleDisplayVideoBorder()" class="button">border</button>
  <button (click)="toggleFlip()" class="button">flip</button>
  <button *ngFor="let i of [1,2,3,4]" (click)="movieSet(i)" class="button">movie {{i}}</button>
  <div id="content">
    <div id="header">
      <div id="month">{{month}}</div>
      <div id="day">{{day}}</div>
      <div id="week">{{week}}</div>
    </div>
    <div class="movie">
      <video width="1200" height="1060" src="assets/mov/1.mp4">
      </video>
    </div>
    <div class="movie">
      <video width="1200" height="1060" src="assets/mov/2.mp4">
      </video>
    </div>
    <div class="movie">
      <img src="/assets/img/waku.png">
      <video width="1200" height="1060" src="assets/mov/3.mp4">
      </video>
      <div id="clock">{{clock_str}}</div>
      <div id="progress">
        <svg viewBox="0 0 100 100">
          <circle cx="0" cy="0" r="50" class="front" />
        </svg>
      </div>
    </div>
    <div class="movie">
      <video width="1200" height="1060" src="assets/mov/4.mp4">
      </video>
    </div>
  </div>
</div>
