div.page {
	width: 2400px;
	height: 1440px;
	background-color: #000;
	position: relative;
}

.video {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1200px;
	height: 1440px;
}

.button2 {
	font-size: 24px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	width: 140px;
	height: 64px;
	line-height: 48px;
	border-radius: 2px;
	background-color: #60f3c0;
	text-align: center;
	border: none;
}

#content {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1200px;
	height: 1440px;
}

#header {
	position: absolute;
	background-color: #345;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1200px;
	height: 380px;
	background-image: url(/assets/img/header.png);
	background-size: cover;
}

#month {
	font-size: 110px;
	color: #fff;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 280px;
	text-align: center;
}

#day {
	font-size: 110px;
	color: #fff;
	position: absolute;
	top: 150px;
	left: 0px;
	width: 280px;
	text-align: center;
}

#week {
	font-size: 40px;
	color: #fff;
	position: absolute;
	top: 270px;
	left: 0px;
	width: 280px;
	text-align: center;
}

.movie {
	display: block;
	visibility: hidden;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 380;
	bottom: 0;
	object-fit: fill;
	width: 1200px;
	height: 1060px;
	background-color: #777;
}

div.overlay {
	position: absolute;
	color: white;
	left: 0px;
	top: 1024px;
	width: 100%;
	text-align: center;
	font-size: 48px;
}

#ball {
	position: absolute;
	width: 20px;
	height: 20px;
    background: radial-gradient(rgba(255, 255, 255, 0.7) 70%,
								rgba(255, 255, 255, 0.0) 71%);
}
