@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400');

div.page {
	width: 2400px;
	height: 1440px;
	background-color: #000;
	position: relative;
}

.border {
	border: 1px solid red;
}

.flip {
	transform:matrix(-1, 0, 0, 1, 0, 0);
	filter: progid:DXImageTransform.Microsoft.BasicImage(mirror=1);
}

.video {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1200px;
	height: 1440px;
}

.button {
	font-size: 24px;
	display: block;
	margin-left: 10px;
	margin-top: 10px;
	width: 140px;
	height: 64px;
	line-height: 48px;
	border-radius: 2px;
	background-color: #60f3c0;
	text-align: center;
	border: none;
}

#content {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1200px;
	height: 1440px;
}

#header {
	position: absolute;
	background-color: #345;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1200px;
	height: 375px;
	background-image: url(/assets/img/header.png);
	background-size: cover;
	font-family: 'Yantramanav', sans-serif;
}

#month {
	font-size: 90px;
	color: #fff;
	position: absolute;
	top: 133px;
	left: 0px;
	width: 100px;
	text-align: center;
	font-weidht: bold;
}

#day {
	font-size: 90px;
	color: #fff;
	position: absolute;
	top: 213px;
	left: 0px;
	width: 100px;
	text-align: center;
	font-weidht: bold;
}

#week {
	font-size: 53px;
	color: #fff;
	position: absolute;
	top: 305px;
	left: 0px;
	width: 100px;
	text-align: center;
	font-weidht: bold;
}

.movie {
	display: block;
	visibility: hidden;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 380;
	bottom: 0;
	object-fit: fill;
	width: 1200px;
	height: 1065px;
	background-color: #777;
}

#clock {
	position: absolute;
	color: white;
	left: 0px;
	top: 700px;
	width: 100%;
	font-size: 250px;
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
}

#progress {
	position: absolute;
	top: 235px;
	left: 600px;
	height: 300px;
	width: 300px;
	display: none;
	opacity: 0.5;
}
#progress svg {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	transform: rotate(-90deg);
	overflow: visible;
}
#progress .back {
	fill: rgba(0,0,0,0);
	stroke-width: 100;
	stroke: #aaa;
}
#progress .front {
	fill: rgba(0,0,0,0);
	stroke-width: 100;
	stroke-dasharray: 314,0;
	stroke: #fff;
	animation-name: pie;
	animation: pie 120s linear 0s forwards;
}
@keyframes pie {
	100% { stroke-dasharray: 0,314}
}

.fadeIn {
	animation: fadeIn 5s linear 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    80% {opacity: 0}
    100% {opacity: 1}
}
