<div class="page">
  <button (click)="adjustPosition()" class="button2">scroll</button>
  <button (click)="toggleDisplayVideoBorder()" class="button2">border</button>

  <button (click)="movieSet(1)" class="button2">movie 1</button>
  <button (click)="movieSet(2)" class="button2">movie 2</button>
  <button (click)="movieSet(3)" class="button2">movie 3</button>
  <button (click)="movieSet(4)" class="button2">movie 4</button>
  <div id="content">
    <div id="header">
      <div id="month">{{month}}</div>
      <div id="day">{{day}}</div>
      <div id="week">{{week}}</div>
    </div>
    <div class="movie">
      <video width="1200" height="1060" src="assets/mov/1.mp4">
      </video>
    </div>
    <div class="movie">
      <video width="1200" height="1060" src="assets/mov/2.mp4">
      </video>
    </div>
    <div class="movie">
      <video width="1200" height="1060" src="assets/mov/3.mp4">
      </video>
      <div id="clock">{{clock_str}}</div>
      <div id="ball"></div>
    </div>
    <div class="movie">
      <video width="1200" height="1060" src="assets/mov/4.mp4">
      </video>
    </div>
  </div>
</div>
