div.page {
	width: 2400px;
	height: 1440px;
	background-color: #000;
	position: relative;
}

.video {
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1200px;
	height: 1440px;
}

.button {
	font-size: 24px;
	display: block;
	margin-left: 10px;
	margin-top: 10px;
	width: 140px;
	height: 64px;
	line-height: 48px;
	border-radius: 2px;
	background-color: #60f3c0;
	text-align: center;
	border: none;
}

#content {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1200px;
	height: 1440px;
}

@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400');

#header {
	position: absolute;
	background-color: #345;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1200px;
	height: 380px;
	background-image: url(/assets/img/header.png);
	background-size: cover;
	font-family: 'Yantramanav', sans-serif;
}

#month {
	font-size: 122px;
	color: #fff;
	position: absolute;
	top: 30px;
	left: 0px;
	width: 280px;
	text-align: center;
	font-weidht: 400;
}

#day {
	font-size: 122px;
	color: #fff;
	position: absolute;
	top: 140px;
	left: 0px;
	width: 280px;
	text-align: center;
	font-weidht: 400;
}

#week {
	font-size: 40px;
	color: #fff;
	position: absolute;
	top: 270px;
	left: 0px;
	width: 280px;
	text-align: center;
	font-weidht: 300;
}

.movie {
	display: block;
	visibility: hidden;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 380;
	bottom: 0;
	object-fit: fill;
	width: 1200px;
	height: 1060px;
	background-color: #777;
}

#clock {
	position: absolute;
	color: white;
	left: 0px;
	top: 600px;
	width: 100%;
	font-size: 250px;
	text-align: center;
}

#progress {
	position: absolute;
	top: 235px;
	left: 600px;
	height: 300px;
	width: 300px;
	display: none;
}
#progress svg {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	transform: rotate(-90deg);
	overflow: visible;
}
#progress .back {
	fill: rgba(0,0,0,0);
	stroke-width: 100;
	stroke: #aaa;
}
#progress .front {
	fill: rgba(0,0,0,0);
	stroke-width: 100;
	stroke-dasharray: 314,0;
	stroke: #fff;
	animation-name: pie;
	animation: pie 120s linear 0s forwards;
}
@keyframes pie {
	100% { stroke-dasharray: 0,314}
}

.fadeIn {
	animation: fadeIn 5s linear 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    80% {opacity: 0}
    100% {opacity: 1}
}
